html, body {
    background-color: #222;
}

#loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    /*width: 100px;
    height: 30px;*/
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    z-index: 10;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;
    border: 3px solid #F00;
}

@keyframes mover {
    0% {
        width: 500px;
        height: 500px;
        margin: -250px 0 0 -250px;
    }
    25% {
        width: 300px;
        height: 300px;
        margin: -150px 0 0 -150px;
    }
    50% {
        width: 500px;
        height: 500px;
        margin: -250px 0 0 -250px;
    }
    75% {
        width: 700px;
        height: 700px;
        margin: -350px 0 0 -350px;
    }
    100% {
        width: 500px;
        height: 500px;
        margin: -250px 0 0 -250px;
    }
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
}

#header {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
}

#content {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
}

.main-container {
    width: 100%;
    height: 100%;
    display: none;
}

.login-form input, .register-form input {
    display: block;
}

.login-form button, .register-form button {
    margin-top: 15px;
    width: 70px;
    height: 25px;
}

.login-form a, .register-form a {
    font-size: 0.7rem;
    color: white;
}

.register-form {
    display: none;
}

.room-form {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 8px 0 8px 0;
    border-bottom: 2px solid white;
}

.room-form input {
    width: 70%;
}

.roomList-container {
    margin: 7%;
    position: relative;
    height: 700px;
    border: 2px solid white;
}

.roomList-table-div {
    height: 60%;
    border-bottom: 2px solid white;
}

.roomList-table {
    width: 100%;
    color: white;
    text-align: center;
    border-collapse: collapse;
}

.roomList-table tr:nth-child(1) {
    height: 30px;
    border-bottom: 2px solid white;
}

.roomList-table tr {
    height: 20px;
    border-bottom: 2px solid white;
}

.roomList-table th:nth-child(1), .roomList-table th:nth-child(3) {
    width: 10%;
}

.roomList-table th:nth-child(2) {
    width: 80%;
}

.chat-div {
    height: 30%;
    border-bottom: 2px solid white;
}

.chat-input-div {
    padding: 2px;
    color: white;
}

.chat-input-div input {
    color: white;
    width: 90%;
    border: none;
    background: none;
}

.ready-box {
    margin: 7%;
    position: relative;
    height: 700px;
    border: 2px solid white;
}

.user-table {
    width: 100%;
    height: 463px;
    color: white;
    text-align: center;
    border-collapse: collapse;
}

.user-table td {
    border: 2px solid white;
    width: 50%;
}

.user-name {
    text-align: center;
}

.user-div {
    height: 100%;
}

.fight-box {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}

.fight-div {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
}
